App_WebReferences/IsysPaymentAPIAlghanim/Alghanim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Installments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="civilid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstallmentsResult" type="tns:InstRespforDeals" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InstRespforDeals">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="myStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="totalAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalWithoutLegal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="totalInstallments" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="legalFee" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="merchantFee" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="termids" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="Transactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="civilid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalAmounts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantFees" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trackid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicecode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="myStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trackid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransactionsResult" type="tns:TransResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallmentsSoapIn">
    <wsdl:part name="parameters" element="tns:Installments" />
  </wsdl:message>
  <wsdl:message name="InstallmentsSoapOut">
    <wsdl:part name="parameters" element="tns:InstallmentsResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:Transactions" />
  </wsdl:message>
  <wsdl:message name="TransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="AlghanimSoap">
    <wsdl:operation name="Installments">
      <wsdl:input message="tns:InstallmentsSoapIn" />
      <wsdl:output message="tns:InstallmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <wsdl:input message="tns:TransactionsSoapIn" />
      <wsdl:output message="tns:TransactionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlghanimSoap" type="tns:AlghanimSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Installments">
      <soap:operation soapAction="http://tempuri.org/Installments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <soap:operation soapAction="http://tempuri.org/Transactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlghanimSoap12" type="tns:AlghanimSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Installments">
      <soap12:operation soapAction="http://tempuri.org/Installments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <soap12:operation soapAction="http://tempuri.org/Transactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Alghanim">
    <wsdl:port name="AlghanimSoap" binding="tns:AlghanimSoap">
      <soap:address location="http://192.168.1.11/isysPaymentAPI/Alghanim.asmx" />
    </wsdl:port>
    <wsdl:port name="AlghanimSoap12" binding="tns:AlghanimSoap12">
      <soap12:address location="http://192.168.1.11/isysPaymentAPI/Alghanim.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>